{{ ansible_managed | comment }}
LANG={{ locale_lang }}
{% if locale_language != locale_lang %}
LANGUAGE={{ locale_language }}
{% endif %}
{% if locale_lc_address != locale_lang %}
LC_ADDRESS={{ locale_lc_address }}
{% endif %}
{% if locale_lc_collate != locale_lang %}
LC_COLLATE={{ locale_lc_collate }}
{% endif %}
{% if locale_lc_ctype != locale_lang %}
LC_CTYPE={{ locale_lc_ctype }}
{% endif %}
{% if locale_lc_identification != locale_lang %}
LC_IDENTIFICATION={{ locale_lc_identification }}
{% endif %}
{% if locale_lc_measurement != locale_lang %}
LC_MEASUREMENT={{ locale_lc_measurement }}
{% endif %}
{% if locale_lc_messages != locale_lang %}
LC_MESSAGES={{ locale_lc_messages }}
{% endif %}
{% if locale_lc_monetary != locale_lang %}
LC_MONETARY={{ locale_lc_monetary }}
{% endif %}
{% if locale_lc_name != locale_lang %}
LC_NAME={{ locale_lc_name }}
{% endif %}
{% if locale_lc_numeric != locale_lang %}
LC_NUMERIC={{ locale_lc_numeric }}
{% endif %}
{% if locale_lc_paper != locale_lang %}
LC_PAPER={{ locale_lc_paper }}
{% endif %}
{% if locale_lc_response != locale_lang %}
LC_RESPONSE={{ locale_lc_response }}
{% endif %}
{% if locale_lc_telephone != locale_lang %}
LC_TELEPHONE={{ locale_lc_telephone }}
{% endif %}
{% if locale_lc_time != locale_lang %}
LC_TIME={{ locale_lc_time }}
{% endif %}
{% if locale_lang != locale_lang  %}
LC_ALL={{ locale_lc_all }}
{% endif %}
